<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Gudea&family=Nixie+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/stylesheet.css">
    <title>Gallery</title>
</head>
<body id="gallery">
    <header class="flex-nav">
        <a href="/home"><h3>Janda</h3></a>
        <nav>
            <ul>
                <li><a href="/about"> About </a></li>
                <li><a href="/work"> Work </a></li>
                <li class="last-nav"><a href="/gallery"> Gallery </a></li>
            </ul>
        </nav>
    </header> 
    <section class="gallery">
        <div>
            <img src="./images/janda-about_0005_IMG_5475.jpeg" alt="">
            <img src="./images/janda-about_0012_Layer-6.jpeg" alt="">
            <img src="./images/janda-about_0008_IMG_5223.jpeg" alt="">
            <img src="./images/janda-about_0006_mike-misc-14.jpeg" alt="">
            <img src="./images/janda-about_0000_IMG_1702.jpeg" alt="">
        </div>
    </section>
</body>
</html>