<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="./stylesheets/stylesheet.css">
    <title>Work</title>
</head>
<body id="work">
    <header class="flex-nav">
        <a href="/home"><h3>Janda</h3></a>
        <nav>
            <ul>
                <li><a href="/about"> About </a></li>
                <li><a href="/work"> Work </a></li>
                <li class="last-nav"><a href="/gallery"> Gallery </a></li>
            </ul>
        </nav>
    </header>

    <section id="work" class="flex-column">
        <h1>Education</h1>
        <div class="flex-box top-row">
            <div>
                <h3>The Ultimate Freelance Course</h3>
                <img src="./images/thumbnail-ultimatefreelancecourse.jpeg" alt="Ultimate freelance course">
            </div>
            <div>
                <h3>Biz Buds Podcast</h3>
                <img src="./images/promo-thumb-1280x859-bizbuds.jpeg" alt="Biz buds podcast">
            </div>
            <div>
                <h3>Youtube</h3>
                <img src="./images/promo-thumb-1280x859-youtube2.jpeg" alt="Youtube">
            </div>
        </div>
        <h1>Books</h1>
        <div class="flex-box bottom-row">
            <div>
                <h3>Burn Your Portfolio</h3>
                <img src="./images/promo-thumb-1280x859-byp.jpeg" alt="Burn your portfolio book">
            </div>
            <div>
                <h3>Psychology of Design Pricing</h3>
                <img src="./images/promo-thumb-1280x859-psychopricing.jpeg" alt="Psychology of design pricing book">
            </div>
        </div>
    </section>

</body>
</html>